h2 {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI';
    font-size: 300%;
  }

  h4 {
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans Unicode';
    font-size: 150%;
  }

  h1 {
    color: rgb(5, 5, 5);
    font-family:'Segoe UI';
    font-size: 120%;
  }

  p {
    color: rgb(0, 0, 0);
    font-family:'Segoe UI';
    font-size: 130%; 
  }

  a {
    color: rgb(0, 24, 161);
    font-family:'Segoe UI';
    font-size: 120%; 
  }

  .footer {
    color: rgb(0, 0, 0);
    font-family:'Segoe UI';
    font-size: 120%;
  }
  .footer {
    border: 1px solid rgb(11, 0, 163);
  }

  body {background-color: rgb(0, 122, 47);}
h1   {color: blue;}

.header {
  overflow: hidden;
  background-color: rgb(15, 92, 0);
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: darkgreen;
  color: black;
}

.header a.active {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(0, 121, 0);
  color: black;
}

.header a.active:hover {
  background-color: rgb(0, 131, 0);
  color: black;
}

.header a.header-login {
  font-family: ubuntu;
  background-color: darkgreen;
  color: black;
}

.header a.header-login:hover {
  background-color: rgb(15, 92, 0);
  color: black;
}

.header a.header-login {
  float: right;
}

label {
  font: verdana;
}

p.biggos {
  font-family: Calibri;
  font-size: 170%;
  font-weight: bolder;
}

p.num {
  font-family: Roboto;
  font-size: 150%;
  font-weight: bold;
}

p {
  font-family: 'Segoe UI', impact, Roboto, Calibri;
}

.imag {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

p.smol {
  font-family: Roboto;
  font-size: 100%;
  font-weight: lighter;
  text-align: center;
}

form {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #0c6b00;
  color: white;
  border: 2px solid rgb(19, 146, 0);
  border-radius: 4px;
}

input[type=text] {
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  border: 2px solid rgb(19, 146, 0);
  border-radius: 4px;
}

input[type=email] {
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  border: 2px solid rgb(19, 146, 0);
  border-radius: 4px;
}

input[type=password] {
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  border: 2px solid rgb(19, 146, 0);
  border-radius: 4px;
}

input[type=submit] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #105700;
  color: white;
  border: 2px solid rgb(19, 146, 0);
  border-radius: 4px;
}

label {
  font-family: 'comfortaa', sans-serif;
}