<html>
 <head>
  <link rel="stylesheet" href="static/StY.css">
 </head>
 <div class="header">
   <a href="index.html" class="logo">Damascus</a>
   <div class="header-right">
     <a href="index1.html">Home</a>
      <a href="index2.html">About</a>
      <a href="index3.html">Credits</a>
      <a class="header-login" href="lgn.html">Login</a>
      <a class="header-login" href="sgn.html">Sign up</a>
   </div>
 </div>
 <body>
  <link rel="stylesheet" href="static/StY.css">
   <h2>Welcome!</h2>

   <div class="image">
     <h4>Pythonzen project 1,Menu Page (:</h4>
     <img src="static/R (1).png">
   </div>
  <p>Use the Navbar to navigate through pages!</p>
 </body>
 <footer>© Copyright 2022 WIBS</footer>

</html>