<!DOCTYPE html>
 <head>
  <link rel="stylesheet" href="static/StY.css">
 </head>
 <body>
  <div class="header">
    <a href="index.html" class="logo">Damascus</a>
    <div class="header-right">
      <a class="active" href="index1.html">Home</a>
       <a href="index2.html">About</a>
       <a href="index3.html">Credits</a>
       <a class="header-login" href="lgn.html">Login</a>
       <a class="header-login" href="sgn.html">Sign up</a>
    </div>
  </div>
  <link rel="stylesheet" href="static/StY.css">
   <h2>Home Page</h2>

   <div class="image">
     <h4>Pythonzen project 1,Home Page (: (its literally just an article)</h4>

   </div>

   <h2>Damascus</h2>
   <img src="static/th.jpg" alt="dmsc" class="imag">
   <p class="smol" align="center">view of Damacus</p>
   <p>Damascus (/dəˈmæskəs/ də-MASS-kəs, UK also /dəˈmɑːskəs/ də-MAH-skəs; Arabic: دمشق, romanized: Dimashq, IPA: [diˈmaʃq], Syrian Arabic: [dɪˈmaʃʔ]; Classical Syriac: ܕܰܪܡܣܘܩ, romanized: Darmsuq) is the capital of Syria, the oldest capital in the world and, according to some, the fourth holiest city in Islam.</p>
   <p>It is colloquially known in Syria as aš-Šām (الشَّام) and titled the "City of Jasmine" (مَدِينَةُ الْيَاسْمِينِ Madīnat al-Yāsmīn). Damascus is a major cultural center of the Levant and the Arab world. The city had an estimated population of 2,079,000 in 2019.</p>
   <p>In southwestern Syria, Damascus is the center of a large metropolitan area. Its population in 2004 was estimated to be 2.7 million people. Embedded on the eastern foothills of the Anti-Lebanon mountain range 80 kilometres (50 mi) inland from the eastern shore of the Mediterranean on a plateau 680 metres (2,230 ft) above sea level, Damascus experiences a dry climate because of the rain shadow effect. The Barada River flows through Damascus.</p>
   <p>Damascus is one of the oldest continuously inhabited cities in the world. First settled in the second millennium BC, it was chosen as the capital of the Umayyad Caliphate from 661 to 750. After the victory of the Abbasid dynasty, the seat of Islamic power was moved to Baghdad. Damascus saw its importance decline throughout the Abbasid era, only to regain significant importance in the Ayyubid and Mamluk periods. Today, it is the seat of the central government of Syria. As of September 2019, eight years into the Syrian Civil War, Damascus was named the least livable city out of 140 global cities in the Global Liveability Ranking.</p>
   <h2>Names and etymology</h2>
   <img src="static/R.jpg" alt="dmsc" class="imag">
   <p class="smol" align="center">Ancient Judaism on Damascus</p>
   <p>The name of Damascus first appeared in the geographical list of Thutmose III as T-m-ś-q in the 15th century BC. The etymology of the ancient name T-m-ś-q is uncertain. It is attested as 𒀲𒋙 Imerišú in Akkadian, T-m-ś-q in Egyptian, Dammaśq (דמשק) in Old Aramaic and Dammeśeq (Hebrew: דַּמֶּשֶׂק) in Biblical Hebrew. A number of Akkadian spellings are found in the Amarna letters, from the 14th century BC: 𒁲𒈦𒋡 Dimasqa, 𒁲𒈦𒀸𒄀 Dimàsqì, and 𒁲𒈦𒀸𒋡 Dimàsqa.</p>
   <p>Later Aramaic spellings of the name often include an intrusive resh (letter r), perhaps influenced by the root dr, meaning "dwelling". Thus, the English and Latin name of the city is "Damascus", which was imported from Greek Δαμασκός and originated from "the Qumranic Darmeśeq (דרמשק), and Darmsûq (ܕܪܡܣܘܩ) in Syriac", meaning "a well-watered land".</p>
   <p>In Arabic, the city is called Dimashq (Arabic: دمشق, romanized: Dimašq). The city is also known as Aš-Šām by the citizens of Damascus, of Syria and other Arab neighbors and Turkey (eş-Şam). Aš-Šām is an Arabic term for "Levant" and for "Syria"; the latter, and particularly the historical region of Syria, is called Bilādu š-Šāmi (بِلَادُ الشَّامِ / "land of the Levant"). The latter term etymologically means "land of the left-hand side" or "the north", as someone in the Hijaz facing east, oriented to the sunrise, will find the north to the left. This is contrasted with the name of Yemen (اَلْيَمَن al-Yaman), correspondingly meaning "the right-hand side" or "the south". The variation ش ء م (š-ʾ-m'), of the more typical ش م ل (š-m-l), is also attested in Old South Arabian, 𐩦𐩱𐩣 (s²ʾm), with the same semantic development.</p>
   <p>Source:<li><a href="https://en.wikipedia.org/wiki/Damascus">https://en.wikipedia.org/wiki/Damascus</a></li></p>

 </body>

 <footer>@ Copyright 2022 WIBS</footer>

</html>