<!DOCTYPE html>
<head>
 <link rel="stylesheet" href="static/StY.css">
</head>
<body>
  <div class="header">
    <a href="index.html" class="logo">Damascus</a>
    <div class="header-right">
      <a href="index1.html">Home</a>
       <a href="index2.html">About</a>
       <a class="active" href="index3.html">Credits</a>
       <a class="header-login" href="lgn.html">Login</a>
       <a class="header-login" href="sgn.html">Sign up</a>
    </div>
  </div>
 <link rel="stylesheet" href="static/StY.css">
  <h2>About Page</h2>

  <div class="image">
    <h4>Pythonzen project 1,About Page (:</h4>

  </div>

  <p class="biggos" align="center">Made By:</p>
  <p class="Num" align="center">Khenan putra.N</p>
  <img src="static/mii.jpeg" align="center"
  <p></p>
  <p align="center">hobbies: Playing games, 3d animating, making 3d models, coding, reading books.</p>
  <p align="center">Favourite games / Game Genres: Minecraft, Roblox, FNAF, drone games, car games.</p>
  <p align="center">Favourite 3d animation / modeling softwares: Blender, Maya.</p>
  <p align="center">Favourite render engines: Cycles, Octane, Radeon ProRender, LuxCore, V-ray, Arnold.</p>
  <p align="center">Favourite Programming languages: HTML, CSS, Swift, Java, C++, C#, JavaScript.</p>
  <p class="biggos" align="center">With help from:</p>
  

 
</body>


<footer>@ Copyright 2022 WIBS</footer>

</html>