<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/StY.css">
    </head>
    <body>
        <div class="header">
           <a href="index.html" class="logo">Damascus</a>
           <div class="header-right">
               <a href="index1.html">Home</a>
               <a href="index2.html">About</a>
               <a href="index3.html">Credits</a>
           </div>
       </div>
            <div class="container">
                <div class="row"
                    <div class="col-md-12">
                        <h2>Pythonzen project 1,Login Page (:</h2>
                        <p>Fill in ye virtual mail (email) n secret pass (password)</p>
                        <form action="" method="post">
                            <div class="form-group">
                                <label>Full name here:</label>
                                <input type="text" name="name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Email here:</label>
                                <input type="email" name="email" class="form-conrol" required>
                            </div>
                            <div class="form-group">
                                <label>Password here:</label>
                                <input type="password" name="password" class="form-conrol" required>
                            </div>
                            <div class="form-group">
                                <label>Confirm your password here:</label>
                                <input type="password" name="confirm_password" class="form-conrol" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-primary" value="Submit">
                            </div>
                            <p class="messg">If u dont have an acc the why r u here? <a href="regstr.php">click ME!</a>.</p>
                        </form>
                    </div>
                </div>
            </div>
    </body>
</html>